<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>56.65</string>
	<key>angleVariance</key>
	<string>93.25</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<string>-1.000</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>0.472</string>
	<key>finishColorBlue</key>
	<string>0.476</string>
	<key>finishColorGreen</key>
	<string>0.472</string>
	<key>finishColorRed</key>
	<string>0.485</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.587</string>
	<key>finishColorVarianceBlue</key>
	<string>0.307</string>
	<key>finishColorVarianceGreen</key>
	<string>0.717</string>
	<key>finishColorVarianceRed</key>
	<string>0.265</string>
	<key>finishParticleSize</key>
	<string>15.80</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>-85.48</string>
	<key>gravityy</key>
	<string>-1083.64</string>
	<key>maxParticles</key>
	<string>2.00</string>
	<key>maxRadius</key>
	<string>0.00</string>
	<key>maxRadiusVariance</key>
	<string>0.00</string>
	<key>minRadius</key>
	<string>83.98</string>
	<key>particleLifespan</key>
	<string>0.20</string>
	<key>particleLifespanVariance</key>
	<string>0.10</string>
	<key>radialAccelVariance</key>
	<string>270.83</string>
	<key>radialAcceleration</key>
	<string>418.20</string>
	<key>rotatePerSecond</key>
	<string>0.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>rotationEnd</key>
	<string>1205.24</string>
	<key>rotationEndVariance</key>
	<string>944.39</string>
	<key>rotationStart</key>
	<string>1222.89</string>
	<key>rotationStartVariance</key>
	<string>1115.90</string>
	<key>sourcePositionVariancex</key>
	<string>10.410</string>
	<key>sourcePositionVariancey</key>
	<string>10.052</string>
	<key>sourcePositionx</key>
	<string>157.760</string>
	<key>sourcePositiony</key>
	<string>364.640</string>
	<key>speed</key>
	<string>39.75</string>
	<key>speedVariance</key>
	<string>186.24</string>
	<key>startColorAlpha</key>
	<string>0.517</string>
	<key>startColorBlue</key>
	<string>0.537</string>
	<key>startColorGreen</key>
	<string>0.514</string>
	<key>startColorRed</key>
	<string>0.520</string>
	<key>startColorVarianceAlpha</key>
	<string>0.664</string>
	<key>startColorVarianceBlue</key>
	<string>0.742</string>
	<key>startColorVarianceGreen</key>
	<string>0.222</string>
	<key>startColorVarianceRed</key>
	<string>0.683</string>
	<key>startParticleSize</key>
	<string>24.61</string>
	<key>startParticleSizeVariance</key>
	<integer>0</integer>
	<key>tangentialAccelVariance</key>
	<string>289.68</string>
	<key>tangentialAcceleration</key>
	<string>168.73</string>
	<key>textureFileName</key>
	<string>res/juhua.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
